:root {
  --nav-height: 60px;
  --footer-height: 30px;
  --primary-bgcolor: rgb(54, 54, 251);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(93, 90, 90);
  background: whitesmoke; 
  min-height: 100vh; 
}

main {
  height: calc( 100vh - var(--nav-height) - var(--footer-height));
}

h1, p {
  padding: 20px 0;
}

img {
  float: left;
  margin-right: 30px;
}

.bg-lavanda {
  background-color: Lavender;
}

.borde {
  border: solid 1px LightSlateGray;
}

.relleno {
  padding: 30px;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--primary-bgcolor);
  color: aliceblue;
  padding: 20px 10px;
  height: var(--nav-height);
}

.navbar div {
  display: flex;
  gap: 20px;
}

.layout-flores
 {
   display: flex;
   gap: 20px;
   justify-content: space-between;
}


.layout-flores .enlaces 
{
  display: flex;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
  align-self: flex-start;
  gap: 20px;
  margin: 10px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(58, 58, 255);
  color: aliceblue;
}

.flor {
  aspect-ratio: 0.67;
  height: 200px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  height: var(--footer-height);
  text-align: center;
  color: lavender;
  background-color:  var(--primary-bgcolor);

}
